<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fireway.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.fireway.entity.Comments" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR_ID" property="operatorNum" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BIT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CONTEXT" property="context" jdbcType="VARCHAR" />
    <result column="REPLY_TIME" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="REPLY_MAN" property="replyMan" jdbcType="VARCHAR" />
    <result column="REPLY_MAN_NUM" property="replyManNum" jdbcType="INTEGER" />
    <result column="REPLY_MAN_MOBILE" property="replyManMobile" jdbcType="VARCHAR" />
    <result column="OPINION_ID" property="opinionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, UPDATE_TIME, OPERATOR_ID, OPERATOR, STATUS, REMARK, CONTEXT, REPLY_TIME, 
    REPLY_MAN, REPLY_MAN_NUM, REPLY_MAN_MOBILE, OPINION_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fireway.entity.CommentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_意见回复
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_意见回复
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_意见回复
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fireway.entity.CommentsExample" >
    delete from sys_意见回复
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fireway.entity.Comments" >
    insert into sys_意见回复 (ID, CREATE_TIME, UPDATE_TIME, 
      OPERATOR_ID, OPERATOR, STATUS, 
      REMARK, CONTEXT, REPLY_TIME, 
      REPLY_MAN, REPLY_MAN_NUM, REPLY_MAN_MOBILE, 
      OPINION_ID)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{operatorNum,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, 
      #{replyMan,jdbcType=VARCHAR}, #{replyManNum,jdbcType=INTEGER}, #{replyManMobile,jdbcType=VARCHAR}, 
      #{opinionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fireway.entity.Comments" >
    insert into sys_意见回复
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="operatorNum != null" >
        OPERATOR_ID,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="context != null" >
        CONTEXT,
      </if>
      <if test="replyTime != null" >
        REPLY_TIME,
      </if>
      <if test="replyMan != null" >
        REPLY_MAN,
      </if>
      <if test="replyManNum != null" >
        REPLY_MAN_NUM,
      </if>
      <if test="replyManMobile != null" >
        REPLY_MAN_MOBILE,
      </if>
      <if test="opinionId != null" >
        OPINION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorNum != null" >
        #{operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMan != null" >
        #{replyMan,jdbcType=VARCHAR},
      </if>
      <if test="replyManNum != null" >
        #{replyManNum,jdbcType=INTEGER},
      </if>
      <if test="replyManMobile != null" >
        #{replyManMobile,jdbcType=VARCHAR},
      </if>
      <if test="opinionId != null" >
        #{opinionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fireway.entity.CommentsExample" resultType="java.lang.Integer" >
    select count(*) from sys_意见回复
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_意见回复
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorNum != null" >
        OPERATOR_ID = #{record.operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.context != null" >
        CONTEXT = #{record.context,jdbcType=VARCHAR},
      </if>
      <if test="record.replyTime != null" >
        REPLY_TIME = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyMan != null" >
        REPLY_MAN = #{record.replyMan,jdbcType=VARCHAR},
      </if>
      <if test="record.replyManNum != null" >
        REPLY_MAN_NUM = #{record.replyManNum,jdbcType=INTEGER},
      </if>
      <if test="record.replyManMobile != null" >
        REPLY_MAN_MOBILE = #{record.replyManMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.opinionId != null" >
        OPINION_ID = #{record.opinionId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_意见回复
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      OPERATOR_ID = #{record.operatorNum,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=BIT},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CONTEXT = #{record.context,jdbcType=VARCHAR},
      REPLY_TIME = #{record.replyTime,jdbcType=TIMESTAMP},
      REPLY_MAN = #{record.replyMan,jdbcType=VARCHAR},
      REPLY_MAN_NUM = #{record.replyManNum,jdbcType=INTEGER},
      REPLY_MAN_MOBILE = #{record.replyManMobile,jdbcType=VARCHAR},
      OPINION_ID = #{record.opinionId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fireway.entity.Comments" >
    update sys_意见回复
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorNum != null" >
        OPERATOR_ID = #{operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        CONTEXT = #{context,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null" >
        REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMan != null" >
        REPLY_MAN = #{replyMan,jdbcType=VARCHAR},
      </if>
      <if test="replyManNum != null" >
        REPLY_MAN_NUM = #{replyManNum,jdbcType=INTEGER},
      </if>
      <if test="replyManMobile != null" >
        REPLY_MAN_MOBILE = #{replyManMobile,jdbcType=VARCHAR},
      </if>
      <if test="opinionId != null" >
        OPINION_ID = #{opinionId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fireway.entity.Comments" >
    update sys_意见回复
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      OPERATOR_ID = #{operatorNum,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=BIT},
      REMARK = #{remark,jdbcType=VARCHAR},
      CONTEXT = #{context,jdbcType=VARCHAR},
      REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      REPLY_MAN = #{replyMan,jdbcType=VARCHAR},
      REPLY_MAN_NUM = #{replyManNum,jdbcType=INTEGER},
      REPLY_MAN_MOBILE = #{replyManMobile,jdbcType=VARCHAR},
      OPINION_ID = #{opinionId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>