<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fireway.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.fireway.entity.Student" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID" property="operatorNum" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BIT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="S_NUMBER" property="studentNum" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PASSWORD2" property="password2" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="BIT" />
    <result column="AGE" property="age" jdbcType="INTEGER" />
    <result column="BIRTH" property="birth" jdbcType="VARCHAR" />
    <result column="NATIONAL" property="national" jdbcType="VARCHAR" />
    <result column="NATIVE_PLACE" property="nativePlace" jdbcType="VARCHAR" />
    <result column="SCHOOL_OF_GRADUATION" property="schoolOfGraduation" jdbcType="VARCHAR" />
    <result column="ADMISSION_DATE" property="admissionDate" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="HOME_ADDRESS" property="homeAddress" jdbcType="VARCHAR" />
    <result column="HOME_TEL" property="homeTel" jdbcType="VARCHAR" />
    <result column="PARENT_MOBILE" property="parentMobile" jdbcType="VARCHAR" />
    <result column="HEAD_IMAGE" property="headImage" jdbcType="VARCHAR" />
    <result column="ACADEMY_NAME" property="academyName" jdbcType="VARCHAR" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="CLASS_ID" property="classId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, UPDATE_TIME, OPERATOR_ID, OPERATOR, STATUS, REMARK, S_NUMBER, PASSWORD, 
    PASSWORD2, NAME, SEX, AGE, BIRTH, NATIONAL, NATIVE_PLACE, SCHOOL_OF_GRADUATION, ADMISSION_DATE, 
    ID_CARD, MOBILE, EMAIL, HOME_ADDRESS, HOME_TEL, PARENT_MOBILE, HEAD_IMAGE, ACADEMY_NAME, 
    GRADE, CLASS_NAME, CLASS_ID
  </sql>
  
  <sql id="Grid_Column_List" >
    ID,STATUS, S_NUMBER, 
    NAME, SEX, BIRTH, NATIVE_PLACE, SCHOOL_OF_GRADUATION, ADMISSION_DATE, 
    ID_CARD, MOBILE, ACADEMY_NAME, 
    GRADE, CLASS_NAME
  </sql>
  
  
  
  <select id="selectBySearchParam" resultMap="BaseResultMap" parameterType="com.fireway.request.dto.SearchParam">
   
    select
    s.ID,s.NAME,s.ID_CARD,s.SEX,s.ACADEMY_NAME,s.GRADE,s.S_NUMBER,s.STATUS,s.BIRTH,s.CLASS_NAME,s.MOBILE,s.CLASS_ID
    from sys_学生信息  as s
	    <if test="academyId != null and academyId != ''">
	    	left join sys_班级信息 as c on s.CLASS_ID = c.ID and c.ACADEMY_ID = #{academyId}
	    </if>
	    	where 1=1 
	    <if test="academyId != null and academyId != ''">
	    	and c.ID is not null 
	    </if>
	    <if test="grade != null and grade != ''">
	    	and s.GRADE = #{grade}
	    </if>
	    <if test="classId != null and classId != ''">
	    	and s.CLASS_ID = #{classId}
	    </if>
	    <if test="name != null and name != ''">
	    <bind name="p_name" value="'%' + _parameter.name + '%'" />
	    	and s.NAME like #{p_name}
	    </if>
	    <if test="sex != null">
	    	and s.SEX = #{sex}
	    </if>
	    <if test="status != null">
	    	and s.STATUS = #{status}
	    </if>
	    <if test="num != null and num != ''">
	    	and s.S_NUMBER = #{num}
	    </if>
	    <if test="nativePlace != null and nativePlace != ''">
	    <bind name="p_name" value="'%' + _parameter.name + '%'" />
	    	and s.NATIVE_PLACE like #{p_nativePlace}
	    </if>
	    <if test="homeAddress != null and homeAddress != ''">
   		<bind name="p_homeAddress" value="'%' + _parameter.homeAddress + '%'" />
	    	and s.HOME_ADDRESS like #{p_homeAddress}
	    </if>
	    <if test="mobile != null and mobile != ''">
   		<bind name="P_mobile" value="'%' + _parameter.mobile + '%'" />
	    	and s.MOBILE like #{p_mobile}
	    </if>
	    <if test="tel != null and tel != ''">
   		<bind name="p_homeTel" value="'%' + _parameter.tel + '%'" />
	    	and s.HOME_TEL like #{p_homeTel}
	    </if>
	    <if test="schoolOfGraduation != null and schoolOfGraduation != ''">
   		<bind name="p_schoolOfGraduation" value="'%' + _parameter.schoolOfGraduation + '%'" />
	    	and s.SCHOOL_OF_GRADUATION like #{p_schoolOfGraduation}
	    </if>
	    <if test="startBirth != null and startBirth != ''">
	    	and s.BIRTH &gt;= #{startBirth}
	    </if>
	    <if test="endBirth != null and endBirth != ''">
	    	and s.BIRTH &lt;= #{endBirth}
	    </if>
	    <if test="startAdmissionDate != null and startAdmissionDate != ''">
	    	and s.ADMISSION_DATE &gt;= #{startAdmissionDate}
	    </if>
	    <if test="endAdmissionDate != null and endAdmissionDate != ''">
	    	and s.ADMISSION_DATE &lt;= #{endAdmissionDate}
	    </if>
	    <if test="startCreateTime != null and startCreateTime != ''">
	    	and s.CREATE_TIME &gt;= #{startCreateTime}
	    </if>
	    <if test="endCreateTime != null and endCreateTime != ''">
	    	and s.CREATE_TIME &lt;= #{endCreateTime}
	    </if>
	    <if test="startUpdateTime != null and startUpdateTime != ''">
	    	and s.UPDATE_TIME &gt;= #{startBirth}
	    </if>
	    <if test="endUpdateTime != null and endUpdateTime != ''">
	    	and s.UPDATE_TIME &lt;= #{endUpdateTime}
	    </if>
	    <if test="keyWord != null and keyWord != ''">
   		<bind name="p_keyWord" value="'%' + _parameter.keyWord + '%'" />
	    	and s.NAME like #{p_keyWord} 
	    	or s.NATIVE_PLACE like #{p_keyWord} 
	    	or s.HOME_ADDRESS like #{p_keyWord} 
	    	or s.MOBILE like #{p_keyWord} 
	    	or s.HOME_TEL like #{p_keyWord} 
	    	or s.SCHOOL_OF_GRADUATION like #{p_keyWord} 
	    	or s.CLASS_NAME like #{p_keyWord} 
	    </if>
	    
	    
	    
	    
	    
	    
  </select>
  
  
  
  
  
  
  
  <select id="findBySelectSubject" resultMap="BaseResultMap" >
    select
    s.*
    from sys_学生信息 as s left join sys_学生选课 as sel on(s.ID = sel.STUDENT_ID)
    where 
    sel.SELECT_SUBJECT_ID = #{selectSubjectId}
    
  </select>
  
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fireway.entity.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_学生信息
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_学生信息
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_学生信息
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fireway.entity.StudentExample" >
    delete from sys_学生信息
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fireway.entity.Student" >
    insert into sys_学生信息 (ID, CREATE_TIME, UPDATE_TIME, 
      OPERATOR_ID, OPERATOR, STATUS, 
      REMARK, S_NUMBER, PASSWORD, 
      PASSWORD2, NAME, SEX, AGE, 
      BIRTH, NATIONAL, NATIVE_PLACE, 
      SCHOOL_OF_GRADUATION, ADMISSION_DATE, ID_CARD, 
      MOBILE, EMAIL, HOME_ADDRESS, 
      HOME_TEL, PARENT_MOBILE, HEAD_IMAGE, 
      ACADEMY_NAME, GRADE, CLASS_NAME, 
      CLASS_ID)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{operatorNum,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{studentNum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{password2,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{age,jdbcType=INTEGER}, 
      #{birth,jdbcType=VARCHAR}, #{national,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, 
      #{schoolOfGraduation,jdbcType=VARCHAR}, #{admissionDate,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{homeTel,jdbcType=VARCHAR}, #{parentMobile,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}, 
      #{academyName,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, 
      #{classId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fireway.entity.Student" >
    insert into sys_学生信息
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="operatorNum != null" >
        OPERATOR_ID,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="studentNum != null" >
        S_NUMBER,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="password2 != null" >
        PASSWORD2,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="birth != null" >
        BIRTH,
      </if>
      <if test="national != null" >
        NATIONAL,
      </if>
      <if test="nativePlace != null" >
        NATIVE_PLACE,
      </if>
      <if test="schoolOfGraduation != null" >
        SCHOOL_OF_GRADUATION,
      </if>
      <if test="admissionDate != null" >
        ADMISSION_DATE,
      </if>
      <if test="idCard != null" >
        ID_CARD,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="homeAddress != null" >
        HOME_ADDRESS,
      </if>
      <if test="homeTel != null" >
        HOME_TEL,
      </if>
      <if test="parentMobile != null" >
        PARENT_MOBILE,
      </if>
      <if test="headImage != null" >
        HEAD_IMAGE,
      </if>
      <if test="academyName != null" >
        ACADEMY_NAME,
      </if>
      <if test="grade != null" >
        GRADE,
      </if>
      <if test="className != null" >
        CLASS_NAME,
      </if>
      <if test="classId != null" >
        CLASS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorNum != null" >
        #{operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null" >
        #{studentNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="password2 != null" >
        #{password2,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="national != null" >
        #{national,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="schoolOfGraduation != null" >
        #{schoolOfGraduation,jdbcType=VARCHAR},
      </if>
      <if test="admissionDate != null" >
        #{admissionDate,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null" >
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="homeTel != null" >
        #{homeTel,jdbcType=VARCHAR},
      </if>
      <if test="parentMobile != null" >
        #{parentMobile,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="academyName != null" >
        #{academyName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fireway.entity.StudentExample" resultType="java.lang.Integer" >
    select count(*) from sys_学生信息
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_学生信息
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorNum != null" >
        OPERATOR_ID = #{record.operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.studentNum != null" >
        S_NUMBER = #{record.studentNum,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.password2 != null" >
        PASSWORD2 = #{record.password2,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=BIT},
      </if>
      <if test="record.age != null" >
        AGE = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.birth != null" >
        BIRTH = #{record.birth,jdbcType=VARCHAR},
      </if>
      <if test="record.national != null" >
        NATIONAL = #{record.national,jdbcType=VARCHAR},
      </if>
      <if test="record.nativePlace != null" >
        NATIVE_PLACE = #{record.nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolOfGraduation != null" >
        SCHOOL_OF_GRADUATION = #{record.schoolOfGraduation,jdbcType=VARCHAR},
      </if>
      <if test="record.admissionDate != null" >
        ADMISSION_DATE = #{record.admissionDate,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        ID_CARD = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.homeAddress != null" >
        HOME_ADDRESS = #{record.homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.homeTel != null" >
        HOME_TEL = #{record.homeTel,jdbcType=VARCHAR},
      </if>
      <if test="record.parentMobile != null" >
        PARENT_MOBILE = #{record.parentMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.headImage != null" >
        HEAD_IMAGE = #{record.headImage,jdbcType=VARCHAR},
      </if>
      <if test="record.academyName != null" >
        ACADEMY_NAME = #{record.academyName,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        GRADE = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.className != null" >
        CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null" >
        CLASS_ID = #{record.classId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_学生信息
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      OPERATOR_ID = #{record.operatorNum,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=BIT},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      S_NUMBER = #{record.studentNum,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      PASSWORD2 = #{record.password2,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=BIT},
      AGE = #{record.age,jdbcType=INTEGER},
      BIRTH = #{record.birth,jdbcType=VARCHAR},
      NATIONAL = #{record.national,jdbcType=VARCHAR},
      NATIVE_PLACE = #{record.nativePlace,jdbcType=VARCHAR},
      SCHOOL_OF_GRADUATION = #{record.schoolOfGraduation,jdbcType=VARCHAR},
      ADMISSION_DATE = #{record.admissionDate,jdbcType=VARCHAR},
      ID_CARD = #{record.idCard,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      HOME_ADDRESS = #{record.homeAddress,jdbcType=VARCHAR},
      HOME_TEL = #{record.homeTel,jdbcType=VARCHAR},
      PARENT_MOBILE = #{record.parentMobile,jdbcType=VARCHAR},
      HEAD_IMAGE = #{record.headImage,jdbcType=VARCHAR},
      ACADEMY_NAME = #{record.academyName,jdbcType=VARCHAR},
      GRADE = #{record.grade,jdbcType=VARCHAR},
      CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      CLASS_ID = #{record.classId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fireway.entity.Student" >
    update sys_学生信息
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorNum != null" >
        OPERATOR_ID = #{operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null" >
        S_NUMBER = #{studentNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="password2 != null" >
        PASSWORD2 = #{password2,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=BIT},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        BIRTH = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="national != null" >
        NATIONAL = #{national,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="schoolOfGraduation != null" >
        SCHOOL_OF_GRADUATION = #{schoolOfGraduation,jdbcType=VARCHAR},
      </if>
      <if test="admissionDate != null" >
        ADMISSION_DATE = #{admissionDate,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null" >
        HOME_ADDRESS = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="homeTel != null" >
        HOME_TEL = #{homeTel,jdbcType=VARCHAR},
      </if>
      <if test="parentMobile != null" >
        PARENT_MOBILE = #{parentMobile,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        HEAD_IMAGE = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="academyName != null" >
        ACADEMY_NAME = #{academyName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        CLASS_ID = #{classId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fireway.entity.Student" >
    update sys_学生信息
    set CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      OPERATOR_ID = #{operatorNum,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=BIT},
      REMARK = #{remark,jdbcType=VARCHAR},
      S_NUMBER = #{studentNum,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      PASSWORD2 = #{password2,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=BIT},
      AGE = #{age,jdbcType=INTEGER},
      BIRTH = #{birth,jdbcType=VARCHAR},
      NATIONAL = #{national,jdbcType=VARCHAR},
      NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      SCHOOL_OF_GRADUATION = #{schoolOfGraduation,jdbcType=VARCHAR},
      ADMISSION_DATE = #{admissionDate,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      HOME_ADDRESS = #{homeAddress,jdbcType=VARCHAR},
      HOME_TEL = #{homeTel,jdbcType=VARCHAR},
      PARENT_MOBILE = #{parentMobile,jdbcType=VARCHAR},
      HEAD_IMAGE = #{headImage,jdbcType=VARCHAR},
      ACADEMY_NAME = #{academyName,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=VARCHAR},
      CLASS_NAME = #{className,jdbcType=VARCHAR},
      CLASS_ID = #{classId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>