<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fireway.dao.TestRecordMapper" >
  <resultMap id="BaseResultMap" type="com.fireway.entity.TestRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="udpateTime" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID" property="operatorNum" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BIT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="TEST_CODE" property="testCode" jdbcType="VARCHAR" />
    <result column="TEST_NAME" property="testName" jdbcType="VARCHAR" />
    <result column="TEST_TIME" property="testTime" jdbcType="VARCHAR" />
    <result column="REGIS_START_TIME" property="regisStartTime" jdbcType="VARCHAR" />
    <result column="REGIS_END_TIME" property="regisEndTime" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, UPDATE_TIME, OPERATOR_ID, OPERATOR, STATUS, REMARK, TEST_CODE, TEST_NAME, 
    TEST_TIME, REGIS_START_TIME, REGIS_END_TIME, MONEY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fireway.entity.TestRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_考试报名
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_考试报名
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_考试报名
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fireway.entity.TestRecordExample" >
    delete from sys_考试报名
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fireway.entity.TestRecord" >
    insert into sys_考试报名 (ID, CREATE_TIME, UPDATE_TIME, 
      OPERATOR_ID, OPERATOR, STATUS, 
      REMARK, TEST_CODE, TEST_NAME, 
      TEST_TIME, REGIS_START_TIME, REGIS_END_TIME, 
      MONEY)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{udpateTime,jdbcType=VARCHAR}, 
      #{operatorNum,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{testCode,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, 
      #{testTime,jdbcType=VARCHAR}, #{regisStartTime,jdbcType=VARCHAR}, #{regisEndTime,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fireway.entity.TestRecord" >
    insert into sys_考试报名
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="udpateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="operatorNum != null" >
        OPERATOR_ID,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="testCode != null" >
        TEST_CODE,
      </if>
      <if test="testName != null" >
        TEST_NAME,
      </if>
      <if test="testTime != null" >
        TEST_TIME,
      </if>
      <if test="regisStartTime != null" >
        REGIS_START_TIME,
      </if>
      <if test="regisEndTime != null" >
        REGIS_END_TIME,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="udpateTime != null" >
        #{udpateTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorNum != null" >
        #{operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="testCode != null" >
        #{testCode,jdbcType=VARCHAR},
      </if>
      <if test="testName != null" >
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testTime != null" >
        #{testTime,jdbcType=VARCHAR},
      </if>
      <if test="regisStartTime != null" >
        #{regisStartTime,jdbcType=VARCHAR},
      </if>
      <if test="regisEndTime != null" >
        #{regisEndTime,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fireway.entity.TestRecordExample" resultType="java.lang.Integer" >
    select count(*) from sys_考试报名
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_考试报名
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.udpateTime != null" >
        UPDATE_TIME = #{record.udpateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorNum != null" >
        OPERATOR_ID = #{record.operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.testCode != null" >
        TEST_CODE = #{record.testCode,jdbcType=VARCHAR},
      </if>
      <if test="record.testName != null" >
        TEST_NAME = #{record.testName,jdbcType=VARCHAR},
      </if>
      <if test="record.testTime != null" >
        TEST_TIME = #{record.testTime,jdbcType=VARCHAR},
      </if>
      <if test="record.regisStartTime != null" >
        REGIS_START_TIME = #{record.regisStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.regisEndTime != null" >
        REGIS_END_TIME = #{record.regisEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_考试报名
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.udpateTime,jdbcType=VARCHAR},
      OPERATOR_ID = #{record.operatorNum,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=BIT},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      TEST_CODE = #{record.testCode,jdbcType=VARCHAR},
      TEST_NAME = #{record.testName,jdbcType=VARCHAR},
      TEST_TIME = #{record.testTime,jdbcType=VARCHAR},
      REGIS_START_TIME = #{record.regisStartTime,jdbcType=VARCHAR},
      REGIS_END_TIME = #{record.regisEndTime,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fireway.entity.TestRecord" >
    update sys_考试报名
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="udpateTime != null" >
        UPDATE_TIME = #{udpateTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorNum != null" >
        OPERATOR_ID = #{operatorNum,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="testCode != null" >
        TEST_CODE = #{testCode,jdbcType=VARCHAR},
      </if>
      <if test="testName != null" >
        TEST_NAME = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testTime != null" >
        TEST_TIME = #{testTime,jdbcType=VARCHAR},
      </if>
      <if test="regisStartTime != null" >
        REGIS_START_TIME = #{regisStartTime,jdbcType=VARCHAR},
      </if>
      <if test="regisEndTime != null" >
        REGIS_END_TIME = #{regisEndTime,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fireway.entity.TestRecord" >
    update sys_考试报名
    set CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{udpateTime,jdbcType=VARCHAR},
      OPERATOR_ID = #{operatorNum,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=BIT},
      REMARK = #{remark,jdbcType=VARCHAR},
      TEST_CODE = #{testCode,jdbcType=VARCHAR},
      TEST_NAME = #{testName,jdbcType=VARCHAR},
      TEST_TIME = #{testTime,jdbcType=VARCHAR},
      REGIS_START_TIME = #{regisStartTime,jdbcType=VARCHAR},
      REGIS_END_TIME = #{regisEndTime,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>